html,
body {
	height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Dosis', 'Helvetica', 'Sans Serif';
    font-weight: 400;
    color: white;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.container {
    max-width: 650px;
    margin: 0px auto;
}

#navbar {
    background: url('/img/navbar.png') no-repeat;
    width: 633px;
    height: 84px;
    z-index: 1000;
    margin: 50px auto 0px auto;
}

#navbar-links {
    float: right;
    margin: 51px -35px 0px 0px;
}

#navbar-links li {
    float: left;
    list-style-type: none;
    font-size: 30px;
}

#navbar-links li:nth-child(1) { margin-right: 36px } 
#navbar-links li:nth-child(2) { margin-right: 25px } 
#navbar-links li:nth-child(3) { margin-right: 20px } 
#navbar-links li:last-child { margin-left: 0px; margin-right: 0px; }

#navbar-links li a, #navbar-links li a:hover, #navbar-links li a:active {
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

h1.title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Dosis', 'Helvetica', 'Sans Serif';
    text-transform: uppercase;
}

p.content {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0px 0px 30px;
    font-family: 'Dosis', 'Helvetica', 'Sans Serif';
    line-height: 25px;
}

#home-page {
    float: right;
    width: 59%;

}

.contact-page h1 {
    float: right;
    width: 58%;
}

#contact-form input[type=text], #contact-form textarea { border: 2px solid white; background-color: transparent; color: white; }

#contact-form label {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

#contact-form .help-block {
    text-align: right;
}

#contact-form button[type=submit] {
    background-color: transparent;
    border: 2px solid white;
    text-transform: uppercase;
    width: 120px;
}

#rsvp-footer { font-size: 16px; }

.wrap > .container {
    padding: 70px 15px 20px;
}

div.required label:after {
    content: " *";
    color: #a94442;
}

a, a:visited, a:active {color: white; text-decoration: underline;}

.clear {clear: both;}
